<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Single File Project - Kyla</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #page-heading
            {
                background-image: url("../dist/images/working-heading.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
        <script src="../dist/main.js"></script>
    </head>
    <body>
        <!-- heading with slider -->
        <div id="page-heading">
            <div class="container m-auto">
                <div class="py-20 md:py-40 px-4 text-center text-white uppercase font-bold">
                    <div class="text-4xl">This is Zellitsss</div>
                    <div class="text-xl">A web template that's make for fun</div>
                </div>
            </div>
        </div>

        <!-- about section -->
        <div>
            <div class="container m-auto text-center py-8 px-4">
                <h1 class="text-4xl font-bold py-4 uppercase">This is Zellitsss</h1>
                <div class="text-2xl font-semibold py-4 border-b-2 uppercase text-gray-700">A little about me</div>
                <div class="text-gray-500 py-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iste officia natus laboriosam quaerat hic, officiis eveniet tempora modi id, sunt sapiente consectetur eius explicabo omnis esse quam soluta. Debitis?</div>
                <div class="py-4">
                    <button class="py-2 px-4 bg-gray-900 text-white uppercase font-semibold hover:bg-gray-600">Stuff i've done</button>
                    <button class="py-2 px-4 bg-gray-900 text-white uppercase font-semibold hover:bg-gray-600">Contact me</button>
                </div>
            </div>
        </div>

        <!-- services -->
        <div class="bg-gray-300">
            <div class="container m-auto">
                <div class="text-center pt-8 pb-0 px-4 mb-0 overflow-auto md:flex md:-mx-4">
                    <div class="bg-white p-4 mb-8 pb-8 md:mx-4">
                        <div><i class="fas fa-eye text-gray-600 border-b-2 border-teal-500 py-4"></i></div>
                        <h3 class="uppercase font-semibold text-xl px-2 py-4 text-gray-900">what do you get?</h3>
                        <div class="text-justify text-gray-600">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro, commodi officiis mollitia maxime repellat consequatur ea corrupti perspiciatis consectetur dolorem deserunt earum molestiae voluptate vitae tempore laborum, similique nemo.
                        </div>
                    </div>

                    <div class="bg-white p-4 mb-8 pb-8 md:mx-4">
                        <div><i class="fas fa-ruler-combined text-gray-600 border-b-2 border-teal-500 py-4"></i></div>
                        <h3 class="uppercase font-semibold text-xl px-2 py-4 text-gray-900">design</h3>
                        <div class="text-justify text-gray-600">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel modi perferendis expedita. Dignissimos tempore dolorum iusto, laudantium quisquam neque non assumenda alias molestias natus expedita, quasi doloribus vel! Velit, fuga!
                        </div>
                    </div>

                    <div class="bg-white p-4 mb-8 pb-8 md:mx-4">
                        <div><i class="fas fa-warehouse text-gray-600 border-b-2 border-teal-500 py-4"></i></div>
                        <h3 class="uppercase font-semibold text-xl px-2 py-4 text-gray-900">hosting</h3>
                        <div class="text-justify text-gray-600">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste delectus labore provident omnis maxime reprehenderit totam! Voluptatibus eveniet repudiandae qui saepe aspernatur laborum hic, totam iusto non. Iure, quod facere?
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 collums with picture -->
        <div>
            <div class="container m-auto">
                <div class="text-center px-4 pt-8">
                    <h3 class="uppercase font-bold text-xl py-2 border-b-2 border-teal-500">what i do</h3>
                </div>
                <div class="px-4 py-8 md:flex md:px-0 md:justify-between">
                    <div class="md:box-border md:w-1/2 md:px-4 -mx-4 md:mx-0">
                        <img class="object-cover w-full h-1/2 md:h-full md:max-h-full" src="../dist/images/working-1.jpg" alt="">
                    </div>
                    <div class="md:px-4 md:w-1/2">
                        <h1 class="uppercase font-bold text-4xl py-8 md:pt-0">Beautiful websites</h1>
                        <div>
                            <p class="py-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consequatur laborum natus amet deleniti? Dicta magni et, minus natus fugiat voluptatem maxime ipsam distinctio sint dolor perferendis consequatur vel tempore!</p>
                            <p class="py-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reprehenderit fugit ipsum quia eligendi qui aperiam, vel soluta aspernatur quidem ut excepturi, nulla culpa voluptatibus, consectetur sequi repellat cumque placeat?</p>
                            <q class="text-xl font-bold uppercase">Similique odio explicabo recusandae, asperiores saepe aperiam officia quibusdam.</q>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- statics -->
        <div class="bg-gray-300 ">
            <div class="container m-auto">
                <div class="text-center px-4 pt-8 pb-4 font-bold uppercase md:flex">
                    <div class="pb-4 md:flex-1">
                        <h3 class="text-4xl">2</h3>
                        <div class="text-gray-600">years as a game developer</div>
                    </div>
                    <div class="pb-4 md:flex-1">
                        <h3 class="text-4xl">123</h3>
                        <div class="text-gray-600">websites launched</div>
                    </div>
                    <div class="pb-4 md:flex-1">
                        <h3 class="text-4xl">1</h3>
                        <div class="text-gray-600">is an odd number</div>
                    </div>
                    <div class="pb-4 md:flex-1">
                        <h3 class="text-4xl">2</h3>
                        <div class="text-gray-600">is an even number</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- portfolio -->
        <div>
            <div class="container m-auto">
                <div class="text-center px-4 py-8">
                    <h3 class="uppercase font-bold text-xl py-2 border-b-2 border-teal-500">featured projects</h3>
                    <div class="pt-4">
                        <button class="border-teal-500 border-2 px-4 py-2 text-teal-500">All</button>
                        <button class="border-gray-500 border-2 px-4 py-2 text-gray-500 hover:border-teal-500 hover:text-teal-500">Branding</button>
                        <button class="border-gray-500 border-2 px-4 py-2 text-gray-500 hover:border-teal-500 hover:text-teal-500">Web Design</button>
                    </div>
                </div>
            </div>
            <div class="md:flex md:pb-8 md:-mb-2 md:max-w-full pb-4 md:pb-0">
                <div class="py-2 md:flex-1">
                    <img src="../dist/images/placeholder-01.jpg" alt="">
                </div>
                <div class="py-2 md:flex-1">
                    <img src="../dist/images/placeholder-02.jpg" alt="">
                </div>
                <div class="py-2 md:flex-1">
                    <img src="../dist/images/placeholder-03.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- contact and footer -->

        <footer class="bg-gray-900">
            <div class="container m-auto">
                <div class="text-white px-4 py-8 text-center">
                    <h3 class="uppercase font-bold text-xl py-2 border-b-2 border-teal-500">get in touch</h3>
                    <div class="pt-8 md:flex">
                        <div class="pb-2 md:flex-1">
                            <div><i class="fas fa-envelope"></i></div>
                            <div class="text-gray-600">zellitsss@gmail.com</div>
                        </div>
                        <div class="pb-2 md:flex-1">
                            <div><i class="fas fa-phone"></i></div>
                            <div class="text-gray-600">(+84) 1111 11111</div>
                        </div>
                        <div class=" md:flex-1">
                            <div><i class="fab fa-github"></i></div>
                            <div class="text-gray-600">zellitsss</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>