<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Single File Project - Woodwork</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #page-header {
                background-image: url("../dist/images/furniture-008.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>
    <body class="">
    
        <!-- header with slider -->
        <section id="page-header" class="h-screen flex items-center">
            <div class="container mx-auto flex-1 text-center">
                <h1 class="text-white uppercase text-5xl tracking-widest font-bold">Woodwork</h1>
            </div>
        </section>

        <!-- sales -->
        <section>
            <div class="mx-auto py-2">
                <div class="md:flex">
                    <div class="p-4 md:w">
                        <a href="#"><img src="../dist/images/furniture-003.jpg" alt=""></a>
                    </div>
                    <div class="p-4">
                        <a href="#"><img src="../dist/images/furniture-003.jpg" alt=""></a>
                    </div>
                    <div class="p-4">
                        <a href="#"><img src="../dist/images/furniture-003.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- featured products -->
        <section>
            <div class="container mx-auto text-center px-8 pt-8 pb-16">
                <div>
                    <h2 class="uppercase text-2xl font-light py-4">Featured Items</h2>
                </div>
                <div class="text-center">
                    <div class="featured-slider-controls text-right text-gray-500">
                        <button class="px-2"><i class="fas fa-angle-left fa-lg"></i></button>
                        <button class="px-2"><i class="fas fa-angle-right fa-lg"></i></button>
                    </div>
                    <div class="featured-slider">
                        <div>
                            <div>
                                <img src="../dist/images/furniture-002.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                        <div>
                            <div>
                                <img src="../dist/images/furniture-004.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                        <div>
                            <div>
                                <img src="../dist/images/furniture-005.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                        <div>
                            <div>
                                <img src="../dist/images/furniture-009.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                        <div>
                            <div>
                                <img src="../dist/images/furniture-010.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                        <div>
                            <div>
                                <img src="../dist/images/furniture-002.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                        <div>
                            <div>
                                <img src="../dist/images/furniture-004.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                        <div>
                            <div>
                                <img src="../dist/images/furniture-005.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                        <div>
                            <div>
                                <img src="../dist/images/furniture-009.jpg" alt="">
                            </div>
                            <h3 class="uppercase font-light text-xl py-2">Duis excepteur nisi nostrud dolore non veniam cupidatat ex</h3>
                            <div class="text-2xl py-2">$87</div>
                            <div class="py-2"><button class="bg-gray-200 py-2 px-4 hover:bg-gray-500 hover:text-white"><i class="fas fa-shopping-cart pr-2"></i>Add to cart</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- get catalogue -->
        <section class="bg-gray-200">
            <div class="container mx-auto py-8 px-8">
                <div>
                    <h1 class="text-3xl uppercase font-light py-4">get you catalogue</h1>
                    <div class="py-2">Receive free monthly catalogue showcasing the best in modern furniture design!</div>
                    <div class="py-2"><a class="underline font-bold" href="#">Shop now!</a></div>
                </div>
            </div>
        </section>

        <!-- top categories -->
        <section>
            <div class="container mx-auto text-center px-8 pt-8 pb-16">
                <div>
                    <h2 class="uppercase text-2xl font-light py-4">Top categories</h2>
                </div>
                <div class="md:flex md:justify-start md:items-stretch md:-mx-2 md:flex-wrap">
                    <div class="pt-8 md:w-1/3 lg:w-1/4 md:px-2">
                        <div class="md:h-48">
                            <img class="object-cover h-full w-full" src="../dist/images/furniture-006.jpg" alt="">
                        </div>
                        <h3 class="uppercase font-light text-xl py-2">living room</h3>
                        <h5 class="text-sm text-gray-400 italic">25 products</h5>
                    </div>

                    <div class="pt-8 md:w-1/3 lg:w-1/4 md:px-2">
                        <div class="md:h-48">
                            <img class="object-cover h-full w-full" src="../dist/images/furniture-007.jpg" alt="">
                        </div>
                        <h3 class="uppercase font-light text-xl py-2">office</h3>
                        <h5 class="text-sm text-gray-400 italic">25 products</h5>
                    </div>

                    <div class="pt-8 md:w-1/3 lg:w-1/4 md:px-2">
                        <div class="md:h-48">
                            <img class="object-cover h-full w-full" src="../dist/images/furniture-006.jpg" alt="">
                        </div>
                        <h3 class="uppercase font-light text-xl py-2">dinning room</h3>
                        <h5 class="text-sm text-gray-400 italic">25 products</h5>
                    </div>

                    <div class="pt-8 md:w-1/3 lg:w-1/4 md:px-2">
                        <div class="md:h-48">
                            <img class="object-cover h-full w-full" src="../dist/images/furniture-006.jpg" alt="">
                        </div>
                        <h3 class="uppercase font-light text-xl py-2">dinning room</h3>
                        <h5 class="text-sm text-gray-400 italic">25 products</h5>
                    </div>

                    <div class="pt-8 md:w-1/3 lg:w-1/4 md:px-2">
                        <div class="md:h-48">
                            <img class="object-cover h-full w-full" src="../dist/images/furniture-006.jpg" alt="">
                        </div>
                        <h3 class="uppercase font-light text-xl py-2">dinning room</h3>
                        <h5 class="text-sm text-gray-400 italic">25 products</h5>
                    </div>
                </div>
            </div>
        </section>

        <!-- blog posts -->
        <section>
            <div class="container mx-auto text-center px-8 pt-8 pb-16">
                <div>
                    <h2 class="uppercase text-2xl font-light py-4">Interior and Furniture tips</h2>
                </div>
                <div class="md:flex md:flex-wrap md:-mx-2">
                    <div class="pt-8 md:w-1/2 lg:w-1/3 md:px-2">
                        <div>
                            <img src="../dist/images/furniture-011.jpg" alt="">
                        </div>
                        <h4 class="uppercase font-medium text-xl py-2">furniture styles profile: art deco</h4>
                        <div class="text-center text-sm">
                            <span>Apr 10, 2020</span>
                            <span class="text-gray-500 pl-2">by Lam Le</span>
                        </div>
                    </div>

                    <div class="pt-8 md:w-1/2 lg:w-1/3 md:px-2">
                        <div>
                            <img src="../dist/images/furniture-012.jpg" alt="">
                        </div>
                        <h4 class="uppercase font-medium text-xl py-2">how laidback an office chare should be?</h4>
                        <div class="text-center text-sm">
                            <span>Apr 10, 2020</span>
                            <span class="text-gray-500 pl-2">by Lam Le</span>
                        </div>
                    </div>

                    <div class="pt-8 md:w-1/2 lg:w-1/3 md:px-2">
                        <div>
                            <img src="../dist/images/furniture-013.jpg" alt="">
                        </div>
                        <h4 class="uppercase font-medium text-xl py-2">how to find sustainable furniture in the modern world</h4>
                        <div class="text-center text-sm">
                            <span>Apr 10, 2020</span>
                            <span class="text-gray-500 pl-2">by Lam Le</span>
                        </div>
                    </div>

                    <div class="pt-8 md:w-1/2 lg:w-1/3 md:px-2">
                        <div>
                            <img src="../dist/images/furniture-013.jpg" alt="">
                        </div>
                        <h4 class="uppercase font-medium text-xl py-2">how to find sustainable furniture in the modern world</h4>
                        <div class="text-center text-sm">
                            <span>Apr 10, 2020</span>
                            <span class="text-gray-500 pl-2">by Lam Le</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- services -->
        <section >
            <div class="container mx-auto text-center px-8 pt-16 border-t-2 border-b-2 border-gray-200 box-border">
                <div class="md:flex md:flex-wrap md:-mx-2">
                    <div class="pb-16 md:w-1/3 md:px-2">
                        <div><i class="fas fa-clock fa-2x text-gray-600"></i></div>
                        <h3 class="py-4 uppercase font-medium text-xl">1-month home trial</h3>
                        <div class="text-gray-600">Velit magna nisi occaecat nulla.</div>
                    </div>
                    <div class="pb-16 md:w-1/3 md:px-2">
                        <div><i class="fas fa-truck fa-2x text-gray-600"></i></div>
                        <h3 class="py-4 uppercase font-medium text-xl">free shipping and delivery</h3>
                        <div class="text-gray-600">Qui irure tempor laboris exercitation.</div>
                    </div>
                    <div class="pb-16 md:w-1/3 md:px-2">
                        <div><i class="fas fa-medal fa-2x text-gray-600"></i></div>
                        <h3 class="py-4 uppercase font-medium text-xl">lifetime warranty</h3>
                        <div class="text-gray-600">Fugiat aliqua exercitation non nostrud elit nisi.</div>
                    </div>
                </div>
            </div>  
        </section>
        
        <!-- footer -->
        <section>
            <div class="container mx-auto px-8 pt-12 pb-8">
                <div class="lg:flex lg:flex-wrap lg:-mx-2">
                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">About</h4>
                        <div class="text-gray-500">
                            Id excepteur laborum anim labore anim cillum occaecat cillum nulla. Mollit occaecat ex sint non excepteur. Duis dolor velit commodo reprehenderit. Dolore nisi duis cillum eiusmod.
                        </div>
                    </div>

                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">navigation</h4>
                        <div>
                            <ul class="uppercase">
                                <li><a href="#">bedroom</a></li>
                                <li><a href="#">dining room</a></li>
                                <li><a href="#">living room</a></li>
                                <li><a href="#">office</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">contacts</h4>
                        <div class="text-gray-500">
                            <div>Address: 1 Somewhere</div>
                            <div>Phones: (000) 000 0000</div>
                            <div>E-mail: info@woodwork.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container mx-auto">
                <div class="mt-8 text-center">
                    <div class="text-gray-500">Woodwork 2020</div>
                    <div>
                        <ul class="py-2 text-gray-400">
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../dist/main.js"></script>
    </body>
</html>