<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Single File Project - Woodwork</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #page-header {
                background-image: url("../dist/images/furniture-008.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>
    <body class="">
    
        <!-- nav -->
        <section class="w-full fixed h-12 top-0 z-50">
            <nav class="">
                <div class="bg-white p-2">
                    <span id="navbar-toggle"><i class="fas fa-bars"></i></span>
                    <span class="font-bold uppercase px-2">Woodwork</span>
                </div>
                <div id="navbar-wrapper" class="bg-white uppercase w-64 h-screen fixed transition duration-300 ease-in-out transform -translate-x-64 overflow-x-hidden overflow-y-auto">
                    <ul class="py-4">
                        <li class="px-2 py-2 hover:bg-black hover:text-white"><a href="#">Home</a></li>
                        <li class="px-2 py-2 hover:bg-black hover:text-white"><a href="#">Shop</a></li>
                        <li class="px-2 py-2 hover:bg-black hover:text-white"><a href="#">Blog</a></li>
                        <li class="px-2 py-2 hover:bg-black hover:text-white"><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </nav>
        </section>

        <div class="mt-12"></div>

        <!-- header -->
        <section class="bg-gray-200 py-4 text-center">
            <h1 class="uppercase text-2xl">Single product</h1>
        </section>

        <section class="mt-16">
            <div class="container mx-auto px-8">
                <main class="">
                    <!-- product detail -->
                    <div>
                        <div>
                            <img src="../dist/images/furniture-009.jpg" alt="">
                        </div>
                        <div>
                            <h3 class="uppercase text-3xl py-2">
                               Officia laboris aute minim laborum fugiat excepteur.
                            </h3>
                            <div class="text-4xl py-2">$45.00</div>
                            <div class="text-xl text-gray-500 py-2">Esse ea aliqua deserunt sint cillum adipisicing ullamco exercitation.</div>
                            <div class="mt-2"><button class="bg-black text-white px-4 py-2">Add to cart</button></div>
                            <div class="text-gray-500 text-sm mt-4">
                                <div>SKU: 111</div>
                                <div>Category: Living Room, Dining room, Bedroom</div>
                                <div>Tags: Morden</div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </section>

        <!-- footer -->
        <section>
            <div class="container mx-auto px-8 pt-12 pb-8">
                <div class="lg:flex lg:flex-wrap lg:-mx-2">
                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">About</h4>
                        <div class="text-gray-500">
                            Id excepteur laborum anim labore anim cillum occaecat cillum nulla. Mollit occaecat ex sint non excepteur. Duis dolor velit commodo reprehenderit. Dolore nisi duis cillum eiusmod.
                        </div>
                    </div>

                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">navigation</h4>
                        <div>
                            <ul class="uppercase">
                                <li><a href="#">bedroom</a></li>
                                <li><a href="#">dining room</a></li>
                                <li><a href="#">living room</a></li>
                                <li><a href="#">office</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">contacts</h4>
                        <div class="text-gray-500">
                            <div>Address: 1 Somewhere</div>
                            <div>Phones: (000) 000 0000</div>
                            <div>E-mail: info@woodwork.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container mx-auto">
                <div class="mt-8 text-center">
                    <div class="text-gray-500">Woodwork 2020</div>
                    <div>
                        <ul class="py-2 text-gray-400">
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script async src="../dist/main.js"></script>
    </body>
</html>