<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Single File Project - Woodwork</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #page-header {
                background-image: url("../dist/images/furniture-008.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>
    <body class="">
    
        <!-- nav -->
        <section class="w-full fixed h-12 top-0 z-50">
            <nav class="">
                <div class="bg-white p-2">
                    <span id="navbar-toggle"><i class="fas fa-bars"></i></span>
                    <span class="font-bold uppercase px-2">Woodwork</span>
                </div>
                <div id="navbar-wrapper" class="bg-white uppercase w-64 h-screen fixed transition duration-300 ease-in-out transform -translate-x-64 overflow-x-hidden overflow-y-auto">
                    <ul class="py-4">
                        <li class="px-2 py-2 hover:bg-black hover:text-white"><a href="#">Home</a></li>
                        <li class="px-2 py-2 hover:bg-black hover:text-white"><a href="#">Shop</a></li>
                        <li class="px-2 py-2 hover:bg-black hover:text-white"><a href="#">Blog</a></li>
                        <li class="px-2 py-2 hover:bg-black hover:text-white"><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </nav>
        </section>

        <div class="mt-12"></div>

        <!-- header -->
        <section class="bg-gray-200 py-4 text-center">
            <h1 class="uppercase text-2xl">Standard post</h1>
        </section>

        <section>
            <div class="container mx-auto px-8 lg:flex lg:px-4">
                <main class="lg:w-3/4 lg:px-4">
                    <article class="pt-12">
                        <header class="uppercase text-3xl">
                            BUY SMART: HOW TO BUY A DURABLE RECLINER CHAIR
                        </header>
                        <div class="font-light py-2">
                            <span>Jan.1, 2020</span>
                            <span class="text-gray-500 px-2">by John Doe</span>
                            <span>2 comment(s)</span>
                        </div>
                        <div class="py-4 text-gray-600">
                            <p>After a hard day’s work, there’s nothing better than sitting and getting all comfortable and cozy in a soft, comfy chair. But finding a recliner that will perfectly fit your body and your budget at the same time (prices range from $250 to $5,000) isn’t as relaxing and easy. If we’re also adding quality, a decent lounger should last at least 10 years with regular use. Here’s how to pick one that won’t break down prematurely!</p>
                            <p>But how do you tell the quality by just taking a quick seat while at the store? Rocker recliners — think traditional La-Z-Boy — rock when upright and lower fully, usually by means of a hand lever. Their pricing usually starts at about $350 but expect to pay $600 and up for a well-built model. A trendier option these days for the space- or style-conscious are push-back models, which recline when you’re leaning back. They can cost as little as $250, but, on the downside, tend not to last as long as those with levers, since the mechanism gets more of a workout.</p>
                            img
                            <p>Also new: wall-saver recliners, which will need only about six inches of space between chair and wall, compared to a foot or more needed for larger traditional versions (though the price is about the same).</p>
                            <p>Then again, there are specialty chairs, such as massage and electric recliners. The former can get quite expensive (from $800 to $5,000), and the latter are designed for people with mobility issues. Regardless of what type you pick, check that there’s no more than a five-inch gap between the seat and the open leg rest; otherwise, children or pets can get caught and injured. Same goes for the lever — make sure tiny hands (or your own fingers) can’t get stuck inside or pinched.</p>
                            <p>Recliners are like shoes — people choose them based on their looks, and then suffer if they’re not comfortable enough. When you’re out there shopping, have family members who’ll spend the most time in the chair sit in it for five minutes or more. Ask yourself: Do my feet touch the floor when the back is upright? Does the headrest support my head and neck? How’s the cushioning? Inspect the seat and back for bumpy parts. And look for foam which has a density rate of 1.9 or higher (most furniture cushions range from 0.9 to 2.5), which will ensure that it keeps its shape longer. Test the chair’s footrest several times to make sure it’s easy to maneuver. Listen for squeaks, which may be telling signs for loose parts or improper alignment.
                            </p>
                        </div>
                    </article>
                    
                    <div>
                        <div class="text-center text-xl uppercase lg:flex">
                            <div class="py-2 lg:w-1/2 lg:text-left">
                                <a href="#">Previous post</a>
                            </div> 
                            <div class="py-2 lg:w-1/2 lg:text-right">
                                <a href="#">Next post</a>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <h3 class="uppercase text-2xl">latest posts</h3>
                        </div>
                        <div class="lg:flex lg:-mx-4">
                            <div class="pt-8 lg:w-1/2 lg:px-4">
                                <div>
                                    <img src="../dist/images/furniture-011.jpg" alt="">
                                </div>
                                <h4 class="uppercase font-medium text-xl py-2">furniture styles profile: art deco</h4>
                                <div class="text-sm">
                                    <span>Apr 10, 2020</span>
                                    <span class="text-gray-500 pl-2">by Lam Le</span>
                                </div>
                            </div>
        
                            <div class="pt-8 lg:w-1/2 lg:px-4">
                                <div>
                                    <img src="../dist/images/furniture-012.jpg" alt="">
                                </div>
                                <h4 class="uppercase font-medium text-xl py-2">how laidback an office chare should be?</h4>
                                <div class="text-sm">
                                    <span>Apr 10, 2020</span>
                                    <span class="text-gray-500 pl-2">by Lam Le</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- comments -->
                    <div class="mt-8">
                        <div>
                            <h3 class="uppercase text-2xl">comments</h3>
                        </div>
                        <div>
                            <!-- comment -->
                            <div>
                                <div class="w-16 h-16 rounded-full my-4"><img src="https://picsum.photos/300/300" alt=""></div>
                                <div>
                                    <div class="bg-gray-100 px-4 py-4">
                                        <div class="uppercase">John Doe</div>
                                        <div class="italic">Jan 1, 2020</div>
                                        <div class="text-gray-600">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ad harum, quo odio debitis obcaecati, ratione consequuntur autem temporibus ex fugit. Id rerum quis, velit cupiditate autem repellendus. In, blanditiis?
                                        </div>
                                        <div class=""><a href="#">Reply</a></div>
                                    </div>
                                </div>

                                <!-- replies -->
                                <div class="pl-6">
                                    <div class="w-16 h-16 rounded-full my-4"><img src="https://picsum.photos/300/300" alt=""></div>
                                    <div>
                                        <div class="bg-gray-100 px-4 py-4">
                                            <div class="uppercase">John Doe</div>
                                            <div class="italic">Jan 1, 2020</div>
                                            <div class="text-gray-600">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ad harum, quo odio debitis obcaecati, ratione consequuntur autem temporibus ex fugit. Id rerum quis, velit cupiditate autem repellendus. In, blanditiis?
                                            </div>
                                            <div class=""><a href="#">Reply</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="w-16 h-16 rounded-full my-4"><img src="https://picsum.photos/300/300" alt=""></div>
                                <div>
                                    <div class="bg-gray-100 px-4 py-4">
                                        <div class="uppercase">John Doe</div>
                                        <div class="italic">Jan 1, 2020</div>
                                        <div class="text-gray-600">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ad harum, quo odio debitis obcaecati, ratione consequuntur autem temporibus ex fugit. Id rerum quis, velit cupiditate autem repellendus. In, blanditiis?
                                        </div>
                                        <div class=""><a href="#">Reply</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- leave a comment -->
                    <div class="mt-8">
                        <div>
                            <h3 class="uppercase text-2xl">leave a comment</h3>
                        </div>
                        <div class="mt-4">
                            <div class="mb-4"><input class="bg-gray-300 w-full p-2" type="text" placeholder="Your name"></div>
                            <div class="mb-4"><input class="bg-gray-300 w-full p-2" type="text" placeholder="Your e-mail"></div>
                            <div class="mb-4"><textarea class="bg-gray-300 w-full p-2
                                " name="" id="" cols="30" rows="10" placeholder="Your message"></textarea></div>
                            <button class="bg-black text-white px-4 py-2">Submit</button>
                        </div>
                    </div>
                </main>

                <aside class="lg:w-1/4 lg:px-4">

                    <div class="mt-8">
                        <div>
                            <h3 class="uppercase text-2xl">categories</h3>
                        </div>
                        <div class="mt-4 text-gray-500 border-b-2 border-gray-500 pb-8">
                            <ul>
                                <li><a href="#">Bedroom</a></li>
                                <li><a href="#">Dining Room</a></li>
                                <li><a href="#">Kids Room</a></li>
                                <li><a href="#">Living Room</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mt-8">
                        <div>
                            <h3 class="uppercase text-2xl">latest posts</h3>
                        </div>
                        <div class="mt-4 border-b-2 border-gray-500 pb-8">
                            <div class="mt-4">
                                <div class="text-gray-500"><span>Jan 1, 2020</span><span class="ml-4">by John Doe</span></div>
                                <div class="uppercase"><a href="#">Duis cillum proident et laboris aute consequat minim consequat labore incididunt anim sunt ullamco.</a></div>
                            </div>
                            <div class="mt-4">
                                <div class="text-gray-500"><span>Jan 1, 2020</span><span class="ml-4">by John Doe</span></div>
                                <div class="uppercase"><a href="#">Duis cillum proident et laboris aute consequat minim consequat labore incididunt anim sunt ullamco.</a></div>
                            </div>
                            <div class="mt-4">
                                <div class="text-gray-500"><span>Jan 1, 2020</span><span class="ml-4">by John Doe</span></div>
                                <div class="uppercase"><a href="#">Duis cillum proident et laboris aute consequat minim consequat labore incididunt anim sunt ullamco.</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-8">
                        <div>
                            <h3 class="uppercase text-2xl">Tags</h3>
                        </div>
                        <div class="-mx-2 mt-4 border-b-2 border-gray-500 pb-8">
                            <span class="inline-block bg-gray-300 text-gray-600 px-2 py-2 m-1"><a href="#">Bedroom</a></span>
                            <span class="inline-block bg-gray-300 text-gray-600 px-2 py-2 m-1"><a href="#">Dining Room</a></span>
                        </div>
                    </div>
                </aside>
            </div>
            
        </section>

        <!-- footer -->
        <section>
            <div class="container mx-auto px-8 pt-12 pb-8">
                <div class="lg:flex lg:flex-wrap lg:-mx-2">
                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">About</h4>
                        <div class="text-gray-500">
                            Id excepteur laborum anim labore anim cillum occaecat cillum nulla. Mollit occaecat ex sint non excepteur. Duis dolor velit commodo reprehenderit. Dolore nisi duis cillum eiusmod.
                        </div>
                    </div>

                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">navigation</h4>
                        <div>
                            <ul class="uppercase">
                                <li><a href="#">bedroom</a></li>
                                <li><a href="#">dining room</a></li>
                                <li><a href="#">living room</a></li>
                                <li><a href="#">office</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="lg:w-1/3 lg:px-2">
                        <h4 class="uppercase py-4 text-xl">contacts</h4>
                        <div class="text-gray-500">
                            <div>Address: 1 Somewhere</div>
                            <div>Phones: (000) 000 0000</div>
                            <div>E-mail: info@woodwork.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container mx-auto">
                <div class="mt-8 text-center">
                    <div class="text-gray-500">Woodwork 2020</div>
                    <div>
                        <ul class="py-2 text-gray-400">
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="inline-block px-2"><a class="hover:text-black" href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script async src="../dist/main.js"></script>
    </body>
</html>